<!DOCTYPE html>
<html>

<head>
    <title>
        Inventory
    </title>
    <link rel="stylesheet" href="/default.css">
    <link rel="stylesheet" href="/header.css">
    <link rel="stylesheet" href="/create-edit-page.css"> <!--use the same stylesheet with create page-->
    <link rel="stylesheet" href="/responsive.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>
    <%- include('../partials/header') %>

        <main>

            <form action="/categories/<%=id%>/edit" method="post">
                <h2>Create New Category</h2>
                <div id="form-fields">
                    <%- include("../partials/errors",{errors: errors}) %>
                        <div class="field">
                            <label for="category-name">Category name:</label>
                            <input type="text" id="category-name" name="category-name"
                                value="<%= categoryName ? categoryName : '' %>">
                        </div>
                </div>
                <div id="form-buttons">
                    <button>Create category</button>
                    <span><a href="/">Go back</a></span>
                </div>
            </form>
        </main>

</html>