:root {
    --border-radius: 6px
}

html {
    background-color: #DBEAFE;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


h1 {
    font-size: 2.6rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

p {
    font-size: 1.2rem;
}

a {
    color: #FFFFFF;
    text-decoration: none;
}

/*default value for normal buttons */
button {
    cursor: pointer;
    background-color: #2563EB;
    border: 0;
    color: #FFFFFF;
    border-radius: var(--border-radius);
    font-weight: bold;
}

button:hover {
    background-color: #1D4ED8;
}

button:active {
    background-color: #1E40AF;
    transform: scale(0.98);

}