main {
  margin: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}

#categories-section {
  padding: 1.5rem;
  background-color: #ffffff;
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-shadow: var(--box-shadow);
}

main #header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main #header>h2 {
  color: #2563eb;
}

main #header>button {
  width: 120px;
  height: 40px;
}

#categories {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
}

.category {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
  background-color: #f3f4f6;
  min-width: 250px;
  border-radius: var(--border-radius);
  color: black;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.edit-button {
  width: 100px;
  height: 30px;
  background-color: #16a34a;
  border: 0;
  border-radius: var(--border-radius);
}

.edit-button:hover {
  background-color: #15803d;
}

.edit-button:active {
  background-color: #166534;
}

.delete-button {
  width: 120px;
  height: 30px;
  background-color: #dc2626;
  border: 0;
  border-radius: var(--border-radius);
}

.delete-button:hover {
  background-color: #b91c1c;
}

.delete-button:active {
  background-color: #991b1b;
  transform: scale(0.95);
}

#stats-actions-section {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

#quick-stats {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: #ffffff;
  width: 50%;
  box-shadow: var(--box-shadow);
}

#quick-stats span {
  color: #2563eb;
}

#quick-actions {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: #ffffff;
  width: 50%;
  box-shadow: var(--box-shadow);
}

#quick-actions ul {
  list-style-type: none;
}

#quick-actions ul a {
  color: #2563eb;
  text-decoration: none;
}